@charset "UTF-8";

:root{
    --cor01: #FF7A01;
    --cor02: #24e075;
}

.tops{


    display: flex;
    width: 70%;
    justify-content: space-between;
} 

.top{

    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    word-wrap: break-word;   

}

p{
    color: black;
    font-family: 'Roboto Mono,monospace';
    font-size: 16px;
    line-height: 1.6;
}

h2{
    color: var(--cor01);
    text-shadow: 1px 1px 0px #a35c1e85;
    text-align: center;
}
.titulo{
    text-align: center;
    background-color: var(--cor02);
    width: 200px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #148d48cb;
    margin-top: 3%;
    margin-bottom: -3%;
    margin-left: 20%;
    
}
input{
    border-radius: 5px;
    text-align: left;

}

li{
    border-radius: 3px;
    padding: 2px;
    width: 250px;


}
.artista:hover{
    background-color: #a35c1e85 ;
}

a{
    color: black;
    text-decoration: none;
}
 a:hover{
     text-decoration: underline;
 }
 
 footer{
     height: 100px;
     border-radius: 5px;
     background-image: linear-gradient(to right, #910EC4, #B611F7, #CC5CF9);
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.438);
     padding: 1px;
     margin: 10px 10px 10px 0px;
 }

 #rodapé{
    list-style: none;
    margin: 8px;
    padding: 0px;
 }
.conteúdo{
    display: flex;
    justify-content: space-around;
}

.video{
    margin-top: 10%;
    
}




